.postList {
  width: 100%;
  z-index: 0;
}
.postList header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
  padding-bottom: 0.8rem;
}
.postList h3 {
  margin: 0;
}
.postDelBtn {
  font-size: 0.8rem;
  color: #fff;
  background-color: #a4a4ac;
}

.post {
  line-height: 1.8;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-bottom: 0.8rem;
  padding: 0.8rem;
}
.post * {
  margin: 0;
  font-size: 0.8rem;
}
.post .createdAt {
  text-align: right;
  font-weight: 400;
  font-size: 10px;
}
