#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem 1rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.QuillContainer {
  height: max-content;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: var(--bgColor);
  z-index: 100;
  padding: 1rem 0 1.4rem;
}
.saveBtn {
  width: fit-content;
  font-size: 0.8rem;
  color: #fff;
  background-color: var(--gray);
  margin: 0.8rem auto 0;
}

/* Quill Style Overlay */
.ql-toolbar {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #f9f9f9;
}
.ql-container {
  height: 20vh;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background-color: #fff;
  overflow: hidden;
}
.ql-container::after {
  content: '이 에디터는 15초마다 자동 저장됩니다.';
  width: calc(100% - 10px);
  box-sizing: border-box;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  text-align: right;
  color: var(--gray);
  background-color: #fff;
  padding: 4px 12px;
}
.ql-editor {
  padding-bottom: 20px;
}
.ql-editor::-webkit-scrollbar {
  width: 6px;
}
.ql-editor::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
