#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.saveBtn {
  width: fit-content;
  margin-top: 1rem;
}
